<div class="row expanded">
	<div class="small-12 columns collapse">
		<ul class="menu">
        <li>
          <ul class="menu">
            <li><a href="/about"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a></li>
            <li><a href="/contact"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a></li>
            <li><a href="/contact"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>
          </ul>
        </li>
      </ul>
	</div>
</div>