<ul class="menu">
{% if site.social.instagram %}<li><a href="{{site.social.instagram}}"><svg class="icon icon-instagram icon-social"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>{% endif %}
{% if site.social.facebook %}<li><a href="{{site.social.facebook}}"><svg class="icon icon-facebook icon-social"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>{% endif %}
{% if site.social.twitter %}<li><a href="{{site.social.twitter}}"><svg class="icon icon-twitter icon-social"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>{% endif %}
</ul>