<div class="top-bar">
   <div class="top-bar-title"><a class="page-link" href="/" title="Aqualis"><svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg></a></div>
   <div class="top-bar-left">
	   <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a class="page-link" href="#">Fragrances</a>
        <ul class="menu vertical">
	      <li><a class="page-link" href="/fragrances/origin" title="Origin">Origin</a></li>
	      <li><a class="page-link" href="/fragrances/utopia" title="Utopia">Utopia</a></li>
	      <li><a class="page-link" href="/fragrances/freedom" title="Freedom">Freedom</a></li>
          <li><a class="page-link" href="/fragrances/coda" title="Coda">Coda</a></li>
          <li><a class="page-link" href="/fragrances/bespoke" title="Bespoke">Bespoke</a></li>
        </ul>
      </li>
      <li><a class="page-link" href="/about" title="About">About / Contact</a></li>
    </ul>
   </div>
</div>