<div class="top-bar">
   <div class="top-bar-title"><a href="/origin"><img src="assets/img/logo.svg" alt="Aqualis"></a></div>
   <div class="top-bar-left">
	   <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">Fragrances</a>
        <ul class="menu vertical">
	      <li><a href="/origin">Origin</a></li>
	      <li><a href="/freedom">Freedom</a></li>
          <li><a href="/coda">Coda</a></li>
          <li><a href="/utopia">Utopia</a></li>
        </ul>
      </li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
   </div>
</div>