<!--
<div class="row">
<div class="small-12 columns text-center">
<ul class="pagination text-center" role="navigation" aria-label="Pagination">
  <li class="pagination-previous"><a href="{{ page.previous.url }}" style="visibility: {% if page.previous %}visible{% else %}hidden{% endif %}">Previous</a></li>
  <li class="pagination-next"><a href="{{ page.next.url }}" style="visibility: {% if page.next %}visible{% else %}hidden{% endif %}">Next</a></li>
</ul>
</div>
</div>
-->

<div class="row">
<div class="small-12 columns text-center">
<ul class="pagination text-center" role="navigation" aria-label="Pagination">
  <li class="pagination-previous"><a href="/line-up/all"><svg class="icon icon-arrow-back"><use xlink:href="#icon-arrow-back"></use></svg> View All</a></li>
</ul>
</div>
</div>