$project-white       	: #ffffff;
// rgba(255, 255, 255, 1)
$project-grey       	: #e3e5e7;
// rgba(227, 229, 231, 1)
$project-dark-grey      : #666666;
// rgba(102, 102, 102, 1)
$project-black   		: #222222;
// rgba(34, 34, 34, 1)