<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<section class="container" id="wrap">
	
<!-- Top -->
<div class="top">
{% include navigation.html %}
</div>
<!-- End Top -->
	
<!-- Middle -->
<div class="middle">
<div class="row align-center">
<div class="small-11 medium-11 large-11 columns">
{{ content }}
</div>
</div>
</div>
<!-- End Middle -->
	
<!-- Bottom -->
<div class="bottom">
{% include footer.html %}
</div>
<!-- End Bottom -->

</section>


<script src="/assets/js/script.js"></script>
</body>
{% include scripts.html %}
</html>
