---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body>
  
<section class="container" id="wrap">

<div class="top">
  {% include navigation.html %}
</div>

<div class="middle">
  <div class="row align-center">
    <div class="small-11 medium-11 large-11 columns">
    {{ content }}
    </div>
  </div>
</div>

<div class="bottom">
{% include footer.html %}
</div>

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->

</body>
</html>