<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<section class="container">
	
<!-- Top -->
<div class="top">
{% include navigation.html %}
</div>
<!-- End Top -->
	
<!-- Middle -->
<div class="middle">

<!-- Fragrances -->
<div class="fragrances align-middle">
    
<!-- Left -->
<div class="fragrances-left">

<div class="row text-center">
<div class="small-10 medium-10 large-12 columns">	
<a href="/origin"><svg class="icon icon-arrows icon-arrow-left4"><use xlink:href="#icon-arrow-left4"></use></svg></a>
</div>
</div>

</div>
<!-- End Left -->
    
<!-- Middle -->
<div class="fragrances-middle">

<div class="overlay animated fadeOut illustration">
<img src="uploads/aqualis-freedom-overlay.jpg" />
</div>

<div class="overlay-text">
<a data-open="fragrance-origin"><svg class="icon icon-info"><use xlink:href="#icon-info"></use></svg></a>
</div>

<img src="uploads/aqualis-freedom.jpg" />
</div>
<!-- End Middle -->

<!-- Right -->
<div class="fragrances-right">

<div class="row text-center">
<div class="small-10 medium-10 large-12 columns">	
<a href="/coda"><svg class="icon icon-arrows icon-arrow-right4"><use xlink:href="#icon-arrow-right4"></use></svg></a>
</div>
</div>

</div>
<!-- End Right -->


</div>
<!-- End Fragrances -->

</div>
<!-- End Middle -->
	
<!-- Bottom -->
<div class="bottom">
{% include footer.html %}
</div>
<!-- End Bottom -->

</section>

<div class="reveal" id="fragrance-origin" data-reveal>
  <small class="uppercase">FRAGRANCES — 3/4</small>
  <h1>Freedom</h1>
  <h2>For the first fragrance in our collection we used the oldest ingredients in perfumery to create an ode to the first pioneers of fragrance.</h2> 
  <p>Origin opens like a dense mass of matter, the big bang ready to explode.  Once the chaos has passed, Egyptian Jasmine Absolute and Turkish Rose Absolute are revealed, transforming Origin into an unexpected delicate scent. French Vanilla Bourbon, which brings a sweetness to the base of the fragrance, is complimented by the earthiness of French Patchouli Heart. Finally, Indian Papyrus Oil leaves Origin with a lasting ancient and exotic quality, like the ancient scrolls from the beginning of time.</p>
  <small>What are your Origins?</small>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

</body>
{% include scripts.html %}
</html>