<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<section class="container">
	
<!-- Top -->
<div class="top">
{% include navigation.html %}
</div>
<!-- End Top -->
	
<!-- Middle -->
<div class="middle">

<!-- Fragrances -->
<div class="fragrances align-middle">
    
<!-- Left -->
<div class="fragrances-left">

<div class="row text-center">
<div class="small-10 medium-10 large-12 columns">	
<a href="{{ page.previous.url }}" style="visibility: {% if page.previous %}visible{% else %}hidden{% endif %}"><svg class="icon icon-arrows icon-arrow-left4"><use xlink:href="#icon-arrow-left4"></use></svg></a>	
</div>
</div>

</div>
<!-- End Left -->
    
<!-- Middle -->
<div class="fragrances-middle">

<div class="overlay animated fadeOut illustration">
<img src="{{ page['illustration-image'] }}" />
</div>

<div class="overlay-text">
<a data-open="fragrance-origin"><svg class="icon icon-info"><use xlink:href="#icon-info"></use></svg></a>
</div>

<img src="{{ page['product-image'] }}" />

</div>
<!-- End Middle -->

<!-- Right -->
<div class="fragrances-right">

<div class="row text-center">
<div class="small-10 medium-10 large-12 columns">	
<a href="/fragrances/freedom"><svg class="icon icon-arrows icon-arrow-right4"><use xlink:href="#icon-arrow-right4"></use></svg></a>
</div>
</div>

</div>
<!-- End Right -->


</div>
<!-- End Fragrances -->

</div>
<!-- End Middle -->
	
<!-- Bottom -->
<div class="bottom">
{% include footer.html %}
</div>
<!-- End Bottom -->

</section>

<div class="reveal" id="fragrance-origin" data-reveal>
  <small class="uppercase">FRAGRANCES — {{ page['position'] }}/4</small>
  <h1>{{ page['title'] }}</h1>
  <h2>{{ page['header-text'] }}</h2> 
  {{ page['content'] }}
  <small>{{ page['question'] }}</small>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

</body>
{% include scripts.html %}
</html>